---
import '@devprotocol/clubs-core/styles'
const { clubs } = Astro.props

const SlotsPageContentHomeAfterContent = clubs.slots.filter(({ slot }) => {
	return slot === 'page:content:home:after-content'
})
---

<!DOCTYPE html>
<html class="dark" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>

	<body>
		<main class="pt-5">
			<slot />
			{
				SlotsPageContentHomeAfterContent.map((Slot) => (
		  <Slot.component {...Slot.props} />
				))
			}
		</main>
	</body>
</html>
